<div class="navbar">
	<div class="text-all-align">
		<a routerLink="/about" routerLinkActive="active">About-us</a>
		<a routerLink="/contact">Contact-us</a>
		<a routerLink="/">landing</a>
		<a routerLink="/dashboard">Dasb Board</a>
	</div>
</div>
<div class="container">
  <h3>About Us</h3>

  <p>Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content. But it's that last part that's crucial to making inbound marketing work for your business.

So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.
For a remarkable about page, all you need to do is figure out your company's unique identity, and then share it with the world. Easy, right? Of course it's not easy. That said, the "About Us" page is one of the most important pages on your website, and it can't go neglected. It also happens to be one of the most commonly overlooked pages, which is why you should make it stand out. </p>

  <p>These Terms provide that all disputes between you and Knowde will be resolved by BINDING ARBITRATION. YOU AGREE
    TO GIVE UP YOUR RIGHT TO GO TO COURT to assert or defend your rights under this contract, except for matters that
    may be taken to small claims court. Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or
    jury, and your claims cannot be brought as a class action. Please review Section 19 (“Dispute Resolution and
    Arbitration”) for the details regarding your agreement to arbitrate any disputes with Knowde.</p>

  <ol style="padding-left:15px">

    <li><b>User Content </b>
      <ol style="padding-left:15px">
        <br>
        <li>Why the "About Us" Page Rocks: It tells us a story.

When you have a great story about how your product or service was built to change lives, share it. The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect with them and pass them on.

Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and their families. The company breaks down different pieces of the story into sections that combine words and easily digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different: "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a hand up, not a handout."</li>
        <br>

        <li><b>Limited License Grant to Other Users.</b> By posting or sharing User Content with other users of the
          Service, you grant those users a non-exclusive license to access and use that User Content as permitted by
          these Terms and the functionality of the Service.
        </li>
        <br>

        <li><b>User Content Representations and Warranties.</b> You are solely responsible for your User Content and
          the consequences of posting or publishing User Content. By posting or publishing User Content, you affirm,
          represent, and warrant that: <br><br>
          <ol style="padding-left:15px">
            <li>you are the creator and owner of the User Content, or have the necessary licenses, rights, consents,
              and permissions to authorize Knowde and users of the Service to use and distribute your User Content as
              necessary to exercise the licenses granted by you in this section, in the manner contemplated by Knowde,
              the Service, and these Terms; and
            </li>
            <br>

      
            <br>
          </ol>
        </li>

      
        <br>

        <li><b>Digital Millennium Copyright Act</b><br>
          <ol style="padding-left:15px">
            <br>
            <li><b>DMCA Notification.</b>We comply with the provisions of the Digital Millennium Copyright Act
              applicable to Internet service providers (17 U.S.C. §512, as amended). If you have an intellectual
              property rights-related complaint about material posted on the Service, you may contact our Designated
              Agent at the following address:<br>
              <br>
              
              Any notice alleging that materials hosted by or distributed through the Service infringe intellectual
              property rights must include the following information:<br>
              <ol style="padding-left:15px">
                <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the
                  copyright or other right being infringed;
                </li>
                <li>a description of the copyright-protected work or other intellectual property right that you claim
                  has been infringed;
                </li>
                <li>a description of the material that you claim is infringing and where it is located on the
                  Service;
                </li>
                <li>your address, telephone number, and email address;</li>
                <li>a statement by you that you have a good faith belief that the use of those materials on the
                  Service is not authorized by the copyright owner, its agent, or the law; and
                </li>
                <li>a statement by you that the above information in your notice is accurate and that, under penalty
                  of perjury, you are the copyright or intellectual property owner or authorized to act on the
                  copyright or intellectual property owner's behalf.
                </li>
                <br>
              </ol>
            </li>
            <li><b>Repeat Infringers.</b>Knowde will promptly terminate without notice the accounts of users that are
              determined by Knowde to be “Repeat Infringers.” A Repeat Infringer is a user who has been notified of
              infringing activity or has had User Content removed from the Service at least twice.
            </li>
            <br>
          </ol>
        </li><li><b>Prohibited Conduct.</b> BY USING THE SERVICE YOU AGREE NOT TO: <br>
        <ol style="padding-left:15px">
          <br>
          <li>use the Service for any illegal purpose or in violation of any local, state, national, or
            international law;
          </li>
          <br>
          <li>violate, or encourage others to violate, any right of a third party, including by infringing or
            misappropriating any third party intellectual property right;
          </li>
          <br>
          <li>post, upload, or distribute any User Content or other content that is unlawful, defamatory, libelous,
            inaccurate, or that a reasonable person could deem to be objectionable, profane, indecent, pornographic,
            harassing, threatening, embarrassing, hateful, or otherwise inappropriate;
          </li>
          <br>
          <li>interfere with security-related features of the Service, including by: (a) disabling or circumventing
            features that prevent or limit use or copying of any content; or (b) reverse engineering or otherwise
            attempting to discover the source code of any portion of the Service except to the extent that the
            activity is expressly permitted by applicable law;
          </li>
          <br>
          <li>interfere with the operation of the Service or any user’s enjoyment of the Service, including by: (a)
            uploading or otherwise disseminating any virus, adware, spyware, worm, or other malicious code; (b)
            making any unsolicited offer or advertisement to another user of the Service; (c) attempting to collect
            personal information about another user or third party without consent; or (d) interfering with or
            disrupting any network, equipment, or server connected to or used to provide the Service, or violating
            any regulation, policy, or procedure of any such network, equipment, or server;
          </li>
          <br>
          <li>perform any fraudulent activity including impersonating any person or entity, claiming a false
            affiliation, accessing any other Service account without permission, or falsifying your age or date of
            birth;
          </li>
          <br>
          <li>sell or otherwise transfer the access granted under these Terms or any Materials (as defined in
            Section 12) or any right or ability to view, access, or use any Material; or
          </li>
          <br>
          <li>attempt to do any of the acts described in this Section 7, or assist or permit any person in engaging
            in any of the acts described in this Section 7.
          </li>
          <br>
        </ol>
      </li>
        <li><b>Third-Party Services and Linked Websites.</b> Knowde may provide tools through the Service that enable
          you to export information, including User Content, to third party services, including through features that
          allow you to link your account on Knowde with an account on the third party service, such as Twitter or
          Facebook, or through our implementation of third party buttons (such as “like” or “share” buttons). By using
          one of these tools, you agree that we may transfer that information to the applicable third-party service.
          Third party services are not under our control, and we are not responsible for any third party service’s use
          of your exported information. The Service may also contain links to third-party websites. Linked websites
          are not under our control, and we are not responsible for their content.
        </li>
        <br>

        <li><b>Termination of Use; Discontinuation and Modification of the Service.</b> You may terminate your account
          at any time by contacting customer service at info@knowde.com. If you terminate your account, you remain
          obligated to pay all outstanding fees, if any, incurred prior to termination relating to your use of the
          Service. If you violate any provision of these Terms, your permission from us to use the Service will
          terminate automatically. In addition, Knowde may in its sole discretion terminate your user account on the
          Service or suspend or terminate your access to the Service at any time for any reason or no reason, with or
          without notice. We also reserve the right to modify or discontinue the Service at any time (including by
          limiting or discontinuing certain features of the Service), temporarily or permanently, without notice to
          you. We will have no liability whatsoever on account of any change to the Service or any suspension or
          termination of your access to or use of the Service.
        </li>
        <br>
        <li><b>Privacy Policy; Additional Terms</b>
          <ol style="padding-left:15px">
            <br>
            <li><b>Privacy Policy.</b> Please read the Knowde Privacy Policy [Privacy] carefully for information
              relating to our collection, use, storage and disclosure of your personal information. The Knowde Privacy
              Policy is incorporated by this reference into, and made a part of, these Terms.
            </li>
            <br>

            <li><b>Additional Terms.</b> Your use of the Service is subject to all additional terms, policies, rules,
              or guidelines applicable to the Service or certain features of the Service that we may post on or link
              to from the Service (the “Additional Terms”), such as end-user license agreements for any downloadable
              software applications, or rules that applicable to a particular feature or content on the Service,
              subject to Section 11. All Additional Terms are incorporated by this reference into, and made a part of,
              these Terms.
            </li>
            <br>

          </ol>
        </li>
        <li><b>Modification of these Terms.</b> We reserve the right, at our discretion, to change these Terms on a
          going-forward basis at any time. Please check these Terms periodically for changes. If a change to these
          Terms materially modifies your rights or obligations, you will be required to accept the modified Terms in
          order to continue to use the Service. Material modifications are effective upon your acceptance of the
          modified Terms. Immaterial modifications are effective upon publication. Disputes arising under these Terms
          will be resolved in accordance with the version of these Terms that was in effect at the time the dispute
          arose.
        </li>
        <br>

        <li><b>Ownership;</b> Proprietary Rights. The Service is owned and operated by Knowde. The visual interfaces,
          graphics, design, compilation, information, data, computer code (including source code or object code),
          products, software, services, and all other elements of the Service (“Materials”) provided by Knowde are
          protected by intellectual property and other laws. All Materials included in the Service are the property of
          Knowde or our third-party licensors. Except as expressly authorized by Knowde, you may not make use of the
          Materials. Knowde reserves all rights to the Materials not granted expressly in these Terms.
        </li>
        <br>

        <li><b>Feedback.</b> If you choose to provide input and suggestions regarding problems with or proposed
          modifications or improvements to the Service (“Feedback”), then you hereby grant Knowde an unrestricted,
          perpetual, irrevocable, non-exclusive, fully-paid, royalty-free right to exploit the Feedback in any manner
          and for any purpose, including to improve the Service and create other products and services.
        </li>
        <br>

        <li><b>Indemnity.</b> You are responsible for your use of the Service, and you will defend and indemnify
          Knowde and its officers, directors, employees, consultants, affiliates, subsidiaries and agents (together,
          the “Knowde Entities”) from and against every claim, liability, damage, loss, and expense, including
          reasonable attorneys' fees and costs, arising out of or in any way connected with: (a) your access to, use
          of, or alleged use of, the Service; (b) your violation of any portion of these Terms, any representation,
          warranty, or agreement referenced in these Terms, or any applicable law or regulation; (c) your violation of
          any third-party right, including any intellectual property right or publicity, confidentiality, other
          property, or privacy right; or (d) any dispute or issue between you and any third party. We reserve the
          right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to
          indemnification by you (without limiting your indemnification obligations with respect to that matter), and
          in that case, you agree to cooperate with our defense of that claim.
        </li>
        
        
        <br>
        
        <br>
        <li><b>Dispute Resolution and Arbitration </b>
          <ol style="padding-left:15px">
            <br>
            <li><b>Generally.</b> In the interest of resolving disputes between you and Knowde in the most expedient
              and cost effective manner, you and Knowde agree that every dispute arising in connection with these
              Terms will be resolved by binding arbitration. Arbitration is less formal than a lawsuit in court.
              Arbitration uses a neutral arbitrator instead of a judge or jury, may allow for more limited discovery
              than in court, and can be subject to very limited review by courts. Arbitrators can award the same
              damages and relief that a court can award. This agreement to arbitrate disputes includes all claims
              arising out of or relating to any aspect of these Terms, whether based in contract, tort, statute,
              fraud, misrepresentation, or any other legal theory, and regardless of whether a claim arises during or
              after the termination of these Terms. YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THESE TERMS, YOU
              AND KNOWDE ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
            </li>
            <br>
            <li><b>Exceptions.</b> Despite the provisions of Section 19.1, nothing in these Terms will be deemed to
              waive, preclude, or otherwise limit the right of either party to: (a) bring an individual action in
              small claims court; (b) pursue an enforcement action through the applicable federal, state, or local
              agency if that action is available; (c) seek injunctive relief in a court of law; or (d) to file suit in
              a court of law to address an intellectual property infringement claim.
            </li>
            <br>
            
          </ol>
        </li>
        <br>
       
        <br>
      </ol>
    </li>
  </ol>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>